spring:
  datasource:
    url: jdbc:postgresql://103.47.225.125:9092/postgres
    username: your_username
    password: your_password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        type:
          json_format_mapper: jackson
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect